<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>navior2l0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{256,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,59},{256,138}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>wave0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{171,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,55}}</string>
                <key>sourceSize</key>
                <string>{171,55}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sprites.pvr</string>
            <key>size</key>
            <string>{260,199}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6f8c8b0743c097712ae3e02fd1661f71:a466d837626dd186a50b846d0f284fac:35aa18ba122705a6fe5002935c6431ca$</string>
            <key>textureFileName</key>
            <string>sprites.pvr</string>
        </dict>
    </dict>
</plist>
